body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
        'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
        sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

.red-text {
    color: red;
}

.violet-text {
    color: #8138ff
}

.orange-text {
    color: #ff6e42
}

.gradient-1 {
    background: rgb(226, 206, 255);
    /*background: -moz-linear-gradient(90deg, rgb(255, 255, 255) 5%, rgba(252,213,227,1) 50%, rgba(126,87,176,1) 95%);*/
    /*background: -webkit-linear-gradient(90deg, rgba(255,107,81,1) 5%, rgba(252,213,227,1) 50%, rgba(126,87,176,1) 95%);*/
    background: linear-gradient(90deg, rgb(255, 150, 150) 5%, rgb(255, 192, 224) 50%, rgb(182, 134, 243) 95%);
    /*background: #7e57b0;*/
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#ff6b51",endColorstr="#7e57b0",GradientType=1);
}